header{
    background: #0497D6;
    line-height: 2.5em;
    color: white
}

a {
    color: white
}

li {
    display: inline;
    padding-left:3px;
    padding-right:3px;
}

ul{
    text-align: center;
    padding-left:3px;
    padding-right:3px;
}